.login-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ececee;
  display: flex;
  justify-content: center;

  & .login-inner {
    max-width: 700px;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;

    & .login-contents {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;

      & .home-name {
        display: block;
        font-size: 50px;
        font-family: "Viga", sans-serif;
        letter-spacing: 4px;
        margin-bottom: 37px;

        & .home-link {
          text-decoration: none;
          color: #03cf5d;
          margin: 50px;
        }
      }
    }
  }
}
