.section-detail {
  & .inner {
    text-align: left;
    padding: 20px;

    & .movie {
      margin: 50px 0;
      display: flex;
      &-poster {
        margin-right: 30px;
        width: 187px;
        height: 272px;

        & img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      &-summary {
        flex: 1;
        &__title {
          margin: 0;
        }
        &__contents {
          padding: 20px 0;
          border-top: 1px solid #d9d9d9;
          border-bottom: 1px solid #d9d9d9;
          line-height: 1.7;
        }
        & button {
          cursor: pointer;
          border: 1px solid #d9d9d9;
          width: 110px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;

          &:hover {
            border: 1px solid black;
          }

          & .empty {
            text-indent: -9999px;
            width: 16px;
            height: 14px;
            background: url("../images/ico_movie.png") 0 0 no-repeat;
            background-position: -210px -330px;
            margin-right: 4px;
          }
          & .heart {
            background-position: -230px -330px;
          }
          & span {
            font-weight: bold;
            font-size: 15px;
          }
        }
      }
    }

    & .movie-plot {
      & p {
        margin: 3px;
        line-height: 1.5;
      }
    }
  }
}

.review {
  margin: 50px auto 0;
  max-width: 850px;
}

.review__inner {
  border: 1px solid #e5e5e5;
  & .score {
    height: 30px;
    display: inline-block;
    padding-left: 15px;

    & .score__star {
      // margin: 5px auto;
      float: right;
      text-align: center;
      background: url("../images/bg_start.png") 0 0 no-repeat;
      background-position: 0 -35px;
      text-indent: -9999px;
      width: 25px;
      height: 100%;
      cursor: pointer;
    }

    & .on,
    .on ~ span {
      background-position: 0 -65px;
    }
  }

  & .review__write {
    display: flex;
    height: 80px;

    & textarea {
      flex: 1;
      border: 1px solid #e5e5e5;
      padding: 16px 165px 0 20px;
      border-left: none;
    }

    & button {
      cursor: pointer;
      width: 80px;
      background: #03cf5d;
      color: white;
      border: none;
      outline: none;
    }
  }
}

.review-list {
  list-style: none;
  display: block;
  padding: 0;

  & li {
    border-top: 1px solid #d9d9d9;
    padding: 20px 0 20px 20px;

    & div {
      position: relative;
      & strong {
        font-size: 18px;
      }

      & .raking-grade {
        display: inline-block;

        & .raking-grade__star {
          margin: 0 10px;
          background: url("../images/bg_start.png") 0 0 no-repeat;
          display: block;
          float: left;
          width: 106px;
          height: 17px;
          & span {
            display: block;
            background: url("../images/bg_start.png") 0 0 no-repeat;
            text-indent: -9999px;
            background-position: 0 -20px;
          }
          & strong {
            padding-left: 10px;
            font-size: 18px;
          }
        }
      }

      & span {
        color: #989898;
      }

      & button {
        color: #989898;
        border: 0;
        outline: 0;
        background: #fff;
        position: absolute;
        top: 0;
        right: 20px;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1024px) {
  section.section-detail .inner {
    max-width: none;
  }
}

@media (max-width: 768px) {
  .section-detail {
  }

  .movie .movie-poster {
    width: 120px;
    height: 169px;
  }
}
