@mixin icon {
  background: url("../images/ico_movie.png") 0 0 no-repeat;
}

* {
  box-sizing: border-box;
}
.movie-content {
  font-family: "Nanum Gothic", sans-serif;
  position: relative;

  & .movie-content__inner {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
  }
}
.period {
  // border: 3px solid orange;
  position: relative;
  height: 45px;

  & ul {
    //   border: 3px solid red;
    height: 100%;
    width: 300px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;

    & a {
      color: #495057;
      border: 1px solid #ced4da;
      border-collapse: collapse;
      width: 100%;
      height: 100%;
      display: flex;
      letter-spacing: 2px;
      cursor: pointer;
      & li {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:hover {
        color: #ff382e;
      }
    }
  }

  & .period__date {
    // border: 2px solid gray;
    position: absolute;
    height: 100%;
    right: 30px;
    display: flex;
    align-items: center;
    & button {
      @include icon;
      outline: none;
      border: 0;
      width: 8px;
      height: 13px;
      cursor: pointer;
    }
    & span {
      margin: 15px;
    }

    & .btn-prev {
      background-position: -188px 0;
    }
    & .btn-next {
      background-position: -218px 0;
      cursor: none;

      &.on {
        background-position: -198px 0;
        cursor: pointer;
      }
    }
  }
}

// .movieList {
//   list-style: none;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   font-family: "Nanum Gothic", sans-serif;
// }

// .movie {
//   /* display: flex;
//   flex-direction: column; */
//   box-sizing: border-box;
//   width: 250px;
//   /* margin: 0px 3% 20px; */
// }

.movie-list {
  margin: 50px 0 10px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  // &-list {
  //   overflow: hidden;
  //   padding-left: 0;

  //   img {
  //     max-width: 100%;
  //   }
  //   a {
  //     display: block;
  //   }
  //   .item {
  //     box-sizing: border-box;
  //     list-style: none;
  //   }
  // }

  // @media (min-width: 500px) {
  //   &-list {
  //     .item {
  //       float: left;
  //       width: 50%;
  //     }
  //   }
  // }

  // @media (min-width: 768px) {
  //   &-list {
  //     .item {
  //       width: 50%;
  //     }
  //   }
  // }
  // @media (min-width: 1024px) {
  //   &-list {
  //     .item {
  //       width: 20%;
  //     }
  //   }
  // }

  & li {
    padding: 7px;
  }
}

.rank {
  box-sizing: border-box;
  position: relative;
  top: 47px;
  left: 10px;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 40px;
  color: white;
  opacity: 0.8;
  text-shadow: #212529 2px 2px 2px;
}

.poster {
  border: 1px solid #d9d9d9;
  width: 219px;
  height: 313px;
}

.movie-info {
  display: flex;
}

.movie-info__title {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
}

.movie-info__grade {
  width: 34px;
  height: 20px;
  margin-left: 5px;
  text-indent: -9999px;
  @include icon;

  &[grade="전체관람가"] {
    background-position: -230px -110px;
  }
  &[grade="12세관람가"] {
    background-position: -230px -30px;
  }
  &[grade="15세관람가"] {
    background-position: -230px -50px;
  }
  background-position: -230px -70px;
}

@media (max-width: 1024px) {
  .movie-content {
    max-width: none;
    margin-top: 50px;
    height: auto;
  }
  .search {
    top: 180px;
    width: 350px;
  }
  .period {
    & ul {
      width: auto;
      height: 45px;
      background: #f5f5f5;
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      position: relative;

      & li {
        border: none;
      }
    }

    & .period__date {
      width: 100%;
      justify-content: center;
      height: 80px;
    }
  }

  .movie-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
