@import url("https://fonts.googleapis.com/css?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap");

.header {
  text-align: center;
}

.homeTitle {
  font-size: 65px;
  font-family: "Viga", sans-serif;
  letter-spacing: 5px;
  margin: 30px;
}

.homeLink {
  text-decoration: none;
  color: #03cf5d;
}

.loginButton {
  position: relative;
  right: -100%;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  background: #03cf5d;
  border: 3px solid #03cf5d;
  border-radius: 20px;
}

.loginLink {
  text-decoration: none;
  color: white;
}
