* {
  box-sizing: border-box;
}
.movie-detail {
  position: relative;
  font-family: "Nanum Gothic", sans-serif;

  & .movie-detail__inner {
    text-align: left;
    position: relative;
    max-width: 1100px;
    margin: 0 auto;

    & .movie-info {
      margin: 50px 0;

      display: flex;
      & img {
        margin-right: 30px;
      }
      & .movie-info__summary {
        flex: 1;
        & ul {
          padding: 20px 0;
          list-style: none;
          border-top: 1px solid #d9d9d9;
          border-bottom: 1px solid #d9d9d9;
          line-height: 1.7;
        }
      }
    }

    & .movie-plot {
      & p {
        margin: 3px;
        line-height: 1.5;
      }
    }
  }
}

.review {
  margin: 50px auto 0;
  width: 850px;
}

.review__inner {
  border: 1px solid #e5e5e5;
  & .score {
    height: 30px;
    display: inline-block;
    padding-left: 15px;

    & .score__star {
      // margin: 5px auto;
      float: right;
      text-align: center;
      background: url("../images/bg_start.png") 0 0 no-repeat;
      background-position: 0 -35px;
      text-indent: -9999px;
      width: 25px;
      height: 100%;
      cursor: pointer;
    }

    & .on,
    .on ~ span {
      background-position: 0 -65px;
    }
  }

  & .review__write {
    display: flex;
    height: 80px;

    & textarea {
      flex: 1;
      border: 1px solid #e5e5e5;
    }

    & button {
      width: 80px;
    }
  }
}

.review-list {
  list-style: none;
  display: block;
  padding: 0;

  & li {
    border-top: 1px solid #d9d9d9;
    padding: 20px 0 20px 20px;

    & div {
      position: relative;
      & strong {
        font-size: 18px;
      }

      & .raking-grade {
        display: inline-block;

        & .raking-grade__star {
          margin: 0 10px;
          background: url("../images/bg_start.png") 0 0 no-repeat;
          display: block;
          float: left;
          width: 106px;
          height: 17px;
          & span {
            display: block;
            background: url("../images/bg_start.png") 0 0 no-repeat;
            text-indent: -9999px;
            background-position: 0 -20px;
          }
          & strong {
            padding-left: 10px;
            font-size: 18px;
          }
        }
      }

      & span {
        color: #989898;
      }

      & button {
        color: #989898;
        border: 0;
        outline: 0;
        background: #fff;
        position: absolute;
        top: 0;
        right: 20px;
        cursor: pointer;
      }
    }
  }
}
