@import "https://fonts.googleapis.com/css?family=Viga&display=swap";
@import "https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap";

body {
  background-color: #fff;
}

.wrap {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
}
//node-sass 사스로 작성된 코드 css 로 변환
